/*Import Google Fonts */
@import url("https://fonts.googleapis.com/css?family=Lora|Roboto");

/*Import All Components File */
@import url("components/avatar.css");
@import url("components/banner.css");
@import url("components/button.css");
@import url("components/container.css");
@import url("components/banner.css");
@import url("components/card.css");

/* General Style rules for fonts and colors  */
body{
	font-family: 'Lora', sans-serif;
	font-size: 18px;
	background-color: rgb(240, 240, 240);
	margin: 0px;
}

h1, h2, h3, h4{
	font-family: Roboto, sans-serif;
	font-weight: bold
}

a {
	text-decoration: none;
}